node_modules
# Keep environment variables out of version control

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

.env.sentry-build-plugin
*.log

.cursorrules
.cursorignore
# *.json
# /.notes/*
# .md
# /public/*
# /free templates and forms/*
# *.mjs

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry Config File
.env.sentry-build-plugin

# Next.js build output
.next
# next.config.js

# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
# .env.test.local
.env.production.local

# Allow specific JSON files
!package.json
!prisma/schema.json
!tsconfig.json

# Memory bank files and directories
memory-bank/
memory-bank/**/*
memory-bank/.cascaderules
memory-bank/*.md
memory-bank/project notes/

/memory-bank/

# Source templates and forms
/Free Templates and Forms/
/Free Templates and Forms/**/*