Refer to '/templates' for some converted form templates.
Refer to '/free forms and templates' for form documents to be converted to web form templates for the app
Project is a nextjs application, using react hooks,typescript and tailwind css.
Refer to '/project notes' for additional project guides.